# Dependency directories
node_modules/

# dotenv environment variables file
server/.env
.env.test
.env

# Logs
logs
*.log

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Output of 'npm pack'
*.tgz

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist

# vuepress build output
.vuepress/dist

# Jetbrains configs
.idea/
.idea/*
